
.card {
    position: relative;
    cursor: pointer;
}

.card img {
    height: 130px;
    border-radius: 20px;
}

.card .front {  
    transition: all ease-in 0.2s;
    position: absolute;
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(90deg);
}

.card .back {
    transition: all ease-in 0.2s;
    transition-delay: 0.2s;
    height: 80%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flipped .front {
    transform: rotateY(0deg);
    transition-delay: 0.2s;
}

.flipped .back {
    transform: rotateY(90deg);
    transition-delay: 0s;
}

img .card{
    height: 100px;
    width: 100px;
  }

  @media screen and (min-width: 770px) {
    .card {
      height: 170px;
    }
  }
