@media(max-width: 767px){

}

@media(min-width: 768px) and (max-width: 991px){

}

@media(min-width: 992px) and (max-width: 1024px){}
.card {
    position: relative;
}

.card img {
    display: block;
    border: 2px solid #4fb17e;
    border-radius: 6px;
}

.card .front {
    max-width: 20vh;
    transform: rotateY(90deg);
    position: absolute;
    transition: all ease-in 0.2s;
}

.card .back {
    max-width: 20vh;
    transition: all ease-in 0.2s;
    transition-delay: 0.2s;
}

.flipped .front {
    transform: rotateY(0deg);
    transition-delay: 0.2s;
}

.flipped .back {
    transform: rotateY(90deg);
    transition-delay: 0s;
}
